<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>VidJot</title>
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css" />
  </head>
  <body>
    {{> _navbar}}

    <div class="container">
      {{> _messages}}
      {{{body}}}
    </div>

    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/popper.js/dist/umd/popper.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
  </body>
</html>
