<div class="row">
  <div class="col-md-6 mx-auto">
    <div class="card card-body">
      <img src="/images/logo.png" class="logo" alt="logo" />
      <h3 class="text-center">Sign Up</h3>

      <form action="/users/signup" method="post">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" name="name" class="form-control"
            autocomplete="off" value="{{name}}" />
        </div>

        <div class="form-group">
          <label for="email">E-Mail</label>
          <input type="email" name="email" class="form-control"
            autocomplete="off" value="{{email}}" />
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" name="password" class="form-control"
            autocomplete="off" />
        </div>

        <div class="form-group">
          <label for="password2">Confirm Password</label>
          <input type="password" name="password2" class="form-control"
            autocomplete="off" />
        </div>

        <input type="submit" class="btn btn-primary" value="Submit" />
      </form>
    </div>
  </div>
</div>
